<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>

    <div id="root">
      <h1>Libreria</h1>
      <p> {{bookOne}} </p>
      <hr>
      <p> {{bookTwo}} </p>
      <hr>
      <p> {{bookThree}} </p>
      <hr>
      <p> {{booksFour}} </p>
      <hr>
      <p>{{booksFive}}</p>
      <input type="text" name="" value="" v-model="titolo">
      <input type="text" name="" value="" v-model="autore">
      <input type="text" name="" value="" v-model="anno">

    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
